@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-aqua: rgb(0, 255, 224);
  --darker-green: rgb(0, 132, 116);
  --light-grey: rgb(217, 217, 217);
}

html {
  font-family: "Inter";

  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  line-height: 77px;
  color: var(--light-aqua);
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 77px;
  color: var(--light-aqua);
}

body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  height: 90%;

  background-color: var(--darker-green);
  border: 4px solid var(--light-aqua);
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 var(--light-aqua);

  text-shadow: 0 0 10px var(--light-aqua);
  text-decoration-color: var(--light-aqua);
}

button {
  display: inline-block;
  padding: 10px 20px;
  border: 3px solid var(--light-aqua);

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: var(--darker-green);
  background-color: var(--light-grey);
}

#submit-button {
  text-shadow: 0 0 10px var(--light-aqua);
  border-radius: 10px;
}
